#pswrdform{
    padding: 16px;
}

input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#pswdchnge{
    background-color: #D3D3D3;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
} 

#pswdchnge:valid{
    background-color: rgb(6, 250, 128);
}
