table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid lightgrey;
}

th, td {
    height: 3em;
}

th, .table-header {
    padding-left: 1em;
    padding-right: 1em;
    font-weight: bold;
    font-size: 1em;
}

.table-header {
    font-size: 1em;
}

input.table-header {
    display:block;
}

.table-label {
    display: block;
}

.static {
    background-color: #d3fad2;
}

$btn-size: 2em;
$btn-margin: .25em;

.btn {
    width: $btn-size;
    height: $btn-size;
    margin: $btn-margin;
    border-radius: 50%;
    border: none;
    background-color: darkgray;
}

.btn:hover {
    cursor: pointer;
}

.btn-green {
    background-color: rgb(100, 206, 114);
}

.btn-row {
    margin: auto;
    width: ($btn-size * 2) + $btn-margin;
}

.tbl-div {
    height: 50%;
}

.close-button {
    background: none;
    border: none;
    padding: 0;
    margin-bottom: .6em;
}

.close-button:hover {
    cursor: pointer;
}

.name-label {
    display: inline;
}