table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid lightgrey;
}

// th, td {
//     padding: 1em;
// }

th, .table-header {
    font-weight: bold;
    font-size: 1em;
}

.table-header {
    font-size: 1em;
}

.table-label {
    display: block;
    padding: 1em;
}

button {
    margin-bottom: 1em;
}

.static {
    background-color: #d3fad2;
}